.P-img{
    background: linear-gradient(45deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url('../Images/2.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.P-img2{
    background: linear-gradient(45deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url('../Images/3.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.P-img3{
    background: linear-gradient(45deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url('../Images/4.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.fa-solid{
    color: #F99808;
}
.fa-regular{
    color: #13131899;
}

